
@using WebApp_MVC_AllTopics_with_WebGentle.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @CustomHelper.Image("https://picsum.photos/seed/picsum/200/300", "This is Custom Image")
        <br />
        <br />
        <p>Second Image with extension method</p>
        @Html.Img("https://picsum.photos/seed/picsum/200/300", "This is Custom Image")
    </div>
</body>
</html>
