@model WebApp_MVC_AllTopics_with_WebGentle.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>I am from Employees Index</h1>
        <div>
            <a href="/practice/AboutUs">Practice About Us</a> <br />
            <a href="/practice/Index">Practice Index</a>
        </div>
        <hr />
        @helper OrderedList(string[] words)
        {
            <ol>
                @foreach (string word in words)
                {
                    <li>@word</li>
                }
            </ol>
        }
        <div>
            @OrderedList(new string[] { "Delhi", "Punjab", "Assam", "Bihar" })
        </div>
    </div>
</body>
</html>
