@model WebApp_MVC_AllTopics_with_WebGentle.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>I am from Employees Index</h1>
        <div>
            <a href="/practice/AboutUs">Practice About Us</a> <br />
            <a href="/practice/Index">Practice Index</a>
        </div>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>@Model.EmployeeName</td>
                </tr>
                <tr>
                    <td>Address :</td>
                    <td>@Model.Address</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
