
<div class="container" style="border:solid 2px">
    <div class="row">
        <div class="col-lg-6">
            <h2>Name - Lindos</h2>
            <p>Id - 14310043</p>
            <p>Email - lindosmahadi@gmail.com</p>
        </div>
        <div class="col-lg-6">
            <p>Description - If you want to navigate to a different controller's action method, use the one given below. You can even avoid typing "null" for the route value and htmlArguments. Here also, razor will assume the first param as link text, the second param as the action method name and the third param as the controller name, if it finds three parameters.</p>
        </div>
    </div>
</div>