<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Getting started</h2>
                    <p>
                        @*ASP.NET MVC --@RenderSection("PageName", required: false)*@
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                </div>
                <div class="col-md-4">
                    <h2>Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                </div>
            </div>
        </div>
            
    </div>
    <div class="container body-content">


        @RenderBody() 


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
        <div>
            <h2>Lindos --- </h2>
            @RenderSection("RenderName", required: false)
        </div>
    </div>
</body>
</html>

