
@{
    Layout = "~/Views/Shared/_MultiLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentName</title>
</head>
<body>
    <div>
        <h1>Added Data</h1>
    </div>
</body>
</html>
